.single-product-container {
  background-color: white;
  padding: 10px;
  max-width: 350px;
  width: 30%;
}

.product-img {
  object-fit: contain;
  aspect-ratio: 9/16;
  display: block;
  margin: 0 auto;
}

.product-name {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.product-cost {
  text-align: center;
  color: red;
}

.product-desc {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

.product-btn {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  display: block;
  margin: 10px auto;
}

.product-btn:hover {
  background-color: rgb(0, 89, 0);
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: gray;
  cursor: not-allowed;
}
